.custom_field_list {
    white-space: pre;
    overflow-x: hidden;
}

.custom_field_list--mini {
    font-size: 95%;
}

.custom_field_list .custom_field {
    display: inline-block;
    padding-right: 4px;
}

.custom_field_list .custom_field:not(:last-child)::after {
    content: ","
}