.listpage-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 24px;
}

.listpage-header h2 {
    margin: 0;
    flex-grow: 1;
    line-height: 34px;
}

.listpage-header_search {
    width: 30%;
    padding-right: 20px;
}

.listpage-header_buttons {
    text-align: right;
}

.listpage-header_buttons .btn {
    margin-left: 8px;
}

