.loading-block {
}
.loading-block_spinner {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border: 2px solid yellow;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    border-radius: 50%;
    -webkit-animation: il-spin 1s infinite linear;
    animation: il-spin 1s infinite linear;
}

@-webkit-keyframes il-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes il-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.loading-block h1 {
    position: relative;
    top: -80px;
    margin-bottom: -80px;
    text-align: center;
    font-family: 'Days One';
    text-transform: uppercase;
}