.selection-actions .form-horizontal:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.selection-table h3:first-child {
    margin-top: 0;
}

.selection-actions {
    margin-top: 40px;
}
