.tag-editor {
    min-height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 32px;
    padding: 0 12px;
    background-color: white;
    cursor: text;
}

.tag-editor_input {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    display: inline-block;
    background-color: transparent;
}

.tag-editor_tag {
    cursor: default;
    display: inline-block;
    padding: 1px 8px;
    border: 1px solid #ccc;
    background-color: #e0ffe0;
    margin-right: 8px;
    overflow-wrap: normal;
    line-height: 1.5em;
}

.tag-editor_tag--derived {
    background-color: #e0e0ff;
}

.tag-editor_tag--mini {
    padding: 1px 4px 0;
    line-height: 1.2em;
    margin-right: 4px;
}

.tag-editor_tag-remove {
    padding-left: 4px;
    cursor: pointer;
}
