.appheader {
    width: 100%;
    display: flex;
    height: 50px;
    background-color: #2e6da4;
    background-image: linear-gradient(to top, #1e5d94, #236aa7);
    color: white;
    margin-bottom: 2px;
}

.appheader-logo {
    flex-grow: 1;
}

.appheader-logo a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Days One';
    line-height: 52px;
    padding: 0 20px;
}

.appheader-account {
    line-height: 52px;
    padding-right: 20px;
}

.appheader-info {
    color: #7ebdf4;
}

.logout-icon {
    color: white;
    padding-left: 8px;
    cursor: pointer;
}