.main {
    display: flex;
    height: calc(100vh - 50px);
}

.sidebar {
    width: 200px;
    border-right: 1px solid #ccc;
    height: 100%;
    background-color: #444;
    color: white;
}

.content {
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.sidebar-menu {
    padding: 8px 20px;
    margin: 0;
    list-style: none;
}

.sidebar-menu hr {
    margin: 4px 0 12px;
    border-top: 1px solid #ccc;
}

.sidebar-menu li {
    text-transform: uppercase;
    font-size: 16px;
    padding: 2px 0;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
}

.sidebar-menu li a.active {
    font-weight: bold;
}