.login-wrapper {
    height: 100vh;
    box-sizing: border-box;
    padding: 25vh 0;
    position: relative;
}

.login-wrapper h3 {
    text-align: center;
    font-family: 'Days One';
    text-transform: uppercase;
}

.buttons-group {
    text-align: center;
}

.login-form {
    border: 1px solid #cccccc;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
}

.login-alertbox-wrapper {
    position: absolute;
    width: 100vw;
    height: 130px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 40px;
    top: 0;
    left: 0;
}