body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Helvetica Neue', 'Ubuntu', Tahoma, sans-serif;
    font-weight: normal;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    /*padding-top: 8px;*/
}

a.btn:hover {
    color: white !important;
}

a:hover {
    color: red !important;
}

a {
    transition: color 0.2s ease;
}

.btn {
    text-transform: uppercase;
    font-family: 'Days One'
}

.table>thead>tr>th {
    background-color: #eeeeef;
    border-bottom: none;
}

.form-buttons .btn {
    margin-right: 8px;
}

.th-email {
    width: 260px;
}

.th-name {
    width: 180px;
}

.th-group-select, .td-group-select {
    width: 32px;
    text-align: center;
}

.th-group-name {
    width: 240px;
}

.table>tbody>tr>td {
    padding: 6px 8px;
}

.max {
    height: 100%;
    min-height: 100%;
}

.vertcenter {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.selection-table h3:first-child {
    margin-top: 0;
}

.selection-actions {
    margin-top: 40px;
}