body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Helvetica Neue', 'Ubuntu', Tahoma, sans-serif;
    font-weight: normal;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    /*padding-top: 8px;*/
}

a.btn:hover {
    color: white !important;
}

a:hover {
    color: red !important;
}

a {
    transition: color 0.2s ease;
}

.btn {
    text-transform: uppercase;
    font-family: 'Days One'
}

.table>thead>tr>th {
    background-color: #eeeeef;
    border-bottom: none;
    padding: 4px 8px 2px;
}

.table-wrapper {
    width: 100%;
    overflow-x: hidden;
}

.form-buttons .btn {
    margin-right: 8px;
}

.th-email {
    width: 260px;
}

.th-name {
    width: 180px;
}

.th-project-name {
    width: 120px;
}

.th-custom-fields {
    width: 200px;
}

.th-tags {
    width: 140px;
}

.th-select, .td-select {
    width: 32px;
    text-align: center;
}

.th-group-name {
    width: 220px;
}

.th-host-fqdn {
    width: 240px;
}

.table>tbody>tr>td {
    padding: 4px 8px;
}

.max {
    height: 100%;
    min-height: 300px;
}

.screen-height {
    height: 100vh;
}

.vertcenter {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

ul.list-bold-no-style {
    list-style: none;
    margin-top: 8px;
    margin-bottom: 0;
}

ul.list-bold-no-style li {
    font-weight: bold;
}

.noselect {
    user-select: none;
}

.mute { color: gray; }
.text-italic { font-style: italic; }
.text-bold { font-weight: bold; }

.listtable.table>tbody>tr>td {
    max-width: 200px;
    overflow-x: hidden;
    white-space: nowrap;
}

.comma_separated:not(:last-child)::after {
    content: ", "
}